{% load static %}
{% include 'base.html' %}
{% block main-container %}

    {% include 'header.html' %}

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ website_settings.navbar_logo.url }}" class="logo img-fluid" alt="Kind Heart Charity">
                <span>
                    Kind Heart Charity
                    <small>Non-profit Organization</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto">


                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="/">Home</a>
                        {% for menu in menus %}
                            <a class="nav-link click-scroll"
                               href="{% url 'home' %}#{{ menu.id_or_href }}">{{ menu.menu_name }}</a>
                        {% endfor menus %}
                    </li>

                    {% for submenu in submenus %}
                        {% if submenu.get_submenu %}
                            <li class="nav-item dropdown">
                                <a class="nav-link click-scroll dropdown-toggle" href="#{{ submenu.id_or_href }}"
                                   id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">{{ submenu.menu_name }}</a>


                                <ul class="dropdown-menu dropdown-menu-light"
                                    aria-labelledby="navbarLightDropdownMenuLink">
                                    {% for submenu in submenu.get_submenu %}
                                        <li><a class="dropdown-item"
                                               href="{{ submenu.id_or_href }}">{{ submenu.sub_menu_name }}</a></li>
                                    {% endfor %}
                                </ul>

                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn btn" href="{% url 'donation' %}">Donate</a>
                    </li>
                </ul>


            </div>
        </div>
    </nav>

    <main>

        <section class="news-detail-header-section text-center">
            <div class="section-overlay"></div>

            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12">
                        <h1 class="text-white">News Listing</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="news-section section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-7 col-12">
                        {% for newslist in obj %}
                            <div class="news-block">
                                <div class="news-block-top">
                                    <a href="{% url 'news-details' newslist.pk %}">
                                        <img src="{{ newslist.image_1.url }}"
                                             class="news-image img-fluid" alt="">
                                    </a>

                                    <div class="news-category-block">
                                        {% for tag in newslist.tags.all %}
                                            <a href="{% url 'news-list_tag' tag.pk %}" class="category-block-link">
                                                {{ tag }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="news-block-info">
                                    <div class="d-flex mt-2">
                                        <div class="news-block-date">
                                            <p>
                                                <i class="bi-calendar4 custom-icon me-1"></i>
                                                {{ newslist.datetime }}
                                            </p>
                                        </div>

                                        <div class="news-block-author mx-5">
                                            <p>
                                                <i class="bi-person custom-icon me-1"></i>
                                                {{ newslist.news_author_name }}
                                            </p>
                                        </div>

                                        <div class="news-block-comment">
                                            <p>
                                                <i class="bi-chat-left custom-icon me-1"></i>
                                                32 Comments
                                            </p>
                                        </div>
                                    </div>

                                    <div class="news-block-title mb-2">
                                        <h4><a href="{% url 'news-details' newslist.pk %}"
                                               class="news-block-title-link">{{ newslist.news_title }}</a></h4>
                                    </div>

                                    <div class="news-block-body">
                                        <p>{{ newslist.get_short_desc }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-lg-4 col-12 mx-auto mt-4 mt-lg-0">
                        <form class="custom-form search-form" action="{% url 'search_news' %}" method="get" role="form">
                            <input class="form-control" type="search" name="searchQuery" placeholder="Search"
                                   aria-label="Search" required>
                            <button type="submit" class="form-control">
                                <i class="bi-search"></i>
                            </button>
                        </form>

                        <h5 class="mt-5 mb-3">Recent news</h5>
                        {% for recentnews in newsObj.get_recent_news %}
                            <div class="news-block news-block-two-col d-flex mt-4">
                                <div class="news-block-two-col-image-wrap">
                                    <a href="{% url 'news-details' recentnews.pk %}">
                                        <img src="{{ recentnews.image_1.url }}"
                                             class="news-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="news-block-two-col-info">
                                    <div class="news-block-title mb-2">
                                        <h6><a href="{% url 'news-details' recentnews.pk %}"
                                               class="news-block-title-link">{{ recentnews.news_title }}</a>
                                        </h6>
                                    </div>

                                    <div class="news-block-date">
                                        <p>
                                            <i class="bi-calendar4 custom-icon me-1"></i>
                                            {{ recentnews.datetime }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                        <div class="category-block d-flex flex-column">
                            <h5 class="mb-3">Categories</h5>
                            {% for category in news_category %}
                                <a href="{% url 'news-list' category.pk %}" class="category-block-link">
                                    {{ category.category_name }}
                                    <span class="badge">{{ category.addnews_set.count }}</span>
                                </a>
                            {% endfor %}


                        </div>

                        <div class="tags-block">
                            <h5 class="mb-3">Tags</h5>
                            {% for tag in news_tags %}
                                <a href="{% url 'news-list' tag.pk %}" class="tags-block-link">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                        </div>

                        <form class="custom-form subscribe-form" action="{% url 'news-letter' %}" method="post"
                              role="form">
                            {% csrf_token %}
                            <h5 class="mb-4">Newsletter Form</h5>

                            <input type="email" name="news_letter_email" id="news_letter_email" pattern="[^ @]*@[^ @]*"
                                   class="form-control" placeholder="Email Address" required>

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control">Subscribe</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

{% endblock %}